

#v_processes .view-body { 

  padding: 64px;

  .no-elements {

    font-weight: 300;
    font-size: 14px;

  }

  .elements {

    &.dragging {

      * {

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        cursor: grabbing !important;
        transition: none;

      }
    }

    .drag-container {

      .drag-placeholder {

        position: relative;
        height: 48px;
        margin-top: 16px;
        border: 1px solid darken($prim, 10%);

      }

      &:nth-child(1) .drag-placeholder {

        margin-top: 0;

      }

    }

    .process {

      position: relative;
      height: 48px;
      // background-color: $prim;

      transition: background-color 200ms $trans-base,
        box-shadow 200ms $trans-base;
      cursor: pointer;
      
      margin-top: 16px;
      &:nth-child(1) { margin-top: 0; }
      
      // box-shadow: 0 2px 4px rgba(0,0,0,.03);
      // &:hover { box-shadow: 0 3px 4px rgba(0,0,0,.07); }

      &.dragging {

        position: fixed;
        width: calc(50vw - 96px / 2 - 64px * 2);
        z-index: 9;

        transition: none;
        box-shadow: 0 2px 6px rgba(0,0,0,.2);
        * { transition: none; }

      }

      .background {

        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        transition: 250ms $trans-base;
        background-color: $prim;
        box-shadow: 0px 2px 3px rgba(0,0,0,.06);

      }

      .drag {

        position: absolute;
        top: 0; left: 0;
        width: 48px; height: 100%;
        background-color: rgba($tert, .65);

        cursor: grab;
        &:active { cursor: grabbing; }

        svg {

          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);
          pointer-events: none;

          fill: $prim;
          width: 24px;

        }

      }

      .label {

        position: absolute;
        top: 50%; left: 72px;
        transform: translateY(-50%);

        font-weight: 300;
        font-size: 14px;

        white-space: nowrap;
        width: calc(100% - 72px - 24px);
        text-align: left;
        overflow: hidden;

      }

      #process-input-label {

        position: absolute;
        top: 50%; left: 66px;
        transform: translateY(-50%);
        padding: 2px 4px;

        color: $tert;
        outline: none;
        font-family: $font-stack;
        font-weight: 300;
        font-size: 14px;

        width: calc(100% - 62px - 16px - 8px);
        border: none;
        border-bottom: 1px solid rgba($seco, .1);

        &:hover {

          border-bottom-color: rgba($seco, .3);

        }

      }

      .actions {

        position: absolute;
        top: 0; right: 0;
        width: 0;
        height: calc(100% + 6px);
        overflow-x: hidden;
        margin-bottom: 8px;
        transition: 250ms $trans-base;

      }

      .action {

        position: absolute;
        top: 0;
        width: 48px; height: 48px;
        cursor: pointer;

        box-shadow: 0px 2px 3px rgba(0,0,0,.15);
        z-index: 5;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.remove {

          left: 52px;
          background-color: rgba($warn, .75);

          &:hover { background-color: rgba($warn, .875); }
          &:active { background-color: rgba($warn, 1); }

        }

        &.edit {

          left: 0;
          background-color: rgba($tert, .75);

          &:hover { background-color: rgba($tert, .875); }
          &:active { background-color: rgba($tert, 1); }

        }

        .inner {
  
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);

          width: 16px;
          fill: $prim;

          cursor: pointer;
  
        }

        // &:hover { background-color: rgba($tert, .02); }
        // &:active { background-color: rgba($tert, .08); }

      }

      &:hover:not(.dragging),
      &.editing {

        .background {

          width: calc(100% - 48px * 2 - 5px * 2);
          box-shadow: 0px 2px 3px rgba(0,0,0,.1);

        }

        .actions {

          width: calc(48px * 2 + 4px);

        }

      }
      
      &.active .background {

        background-color: lighten($seco, 45%);
        box-shadow: 0 0 0 rgba(0,0,0,0) !important;
        
      }

    }

  }

}

#app-instance.mobile {
  
}