

#v_products .view-body { 

  padding: 64px;

  .no-elements {

    font-weight: 300;
    font-size: 14px;

  }

  .all-products .product {
    
    position: relative;
    margin-top: 32px;
    width: 100%;
    height: 160px;
    cursor: pointer;

    box-shadow: 0 2px 4px rgba(0,0,0,.03);
    transition: 120ms $trans-base;
    background-color: $prim;
    overflow: hidden;

    &:hover { box-shadow: 0 3px 4px rgba(0,0,0,.07); }
    &:nth-child(1) { margin-top: 0; }

    .container {

      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 160px;

    }

    .left-side {

      position: absolute;
      top: 0; left: 0;
      width: 160px;
      height: 100%;

      font-weight: 300;
      color: $tert;

      .overlay {

        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($tert, .8);

      }

      .inner {

        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 48px;
        height: 48px;
        background-color: $prim;

        line-height: 48px;
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        color: $tert;

      }

    }

    .right-side {

      position: absolute;
      top: 0; right: 0;
      width: calc(100% - 160px);
      height: 100%;
      padding: 24px 32px;
      text-align: left;

      .label {

        font-size: 16px;
        margin-bottom: 8px;
        width: calc(100% - 40px);

      }

      .desc {

        font-size: 12px;
        font-weight: 300;

        width: calc(100% - 40px);
        height: 72px;
        overflow-y: hidden;

      }

      &.editing {

        input,
        textarea { 
          
          background-color: $prim;
          border: 0px solid rgba($tert, .5);
          outline: none;
          width: 100%;

          font-family: $font-stack;
          color: $tert;
          resize: none;

          border: 1px solid darken($prim, 8%);
          padding: 4px 8px;

        }

        label {

          position: absolute;
          top: 0; left: 0;

          font-weight: 900;
          transition: 120ms $trans-base;

        }

        input:focus + label,
        label.active {

          top: -12px; left: 1px;
          font-size: 8px;
          font-weight: 300;

        }

        .label, 
        .desc {
          
          position: relative;

        }

        .label {

          margin-top: -2px;

          input {

            font-size: 16px;
            font-weight: 900;

          }

        }

        .desc {

          overflow-y: initial;

          textarea {

            height: 76px;

          }
          
          textarea:focus + label,
          label.active {

            top: -12px;

          }

        }

      }

    }

    .actions {

      position: absolute;
      top: 0; right: 0;
      width: 48px; height: 100%;
      border-left: 1px solid darken($prim, 4%);

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .action {

        position: absolute;
        left: 0;
        width: 100%; height: calc(100% / 2);

        transition: 120ms $trans-base;
        background-color: $prim;
        border-top: 1px solid darken($prim, 4%);
        cursor: pointer;

        z-index: 2;

        &:nth-child(2) {
          
          border-top: none;

        }

        &.remove {
          
          top: 50%;

        }

        &.edit, &.save {

          top: 0;

        }

        &.drag {

          top: calc((100% / 3) * 2);
          cursor: grab;

          &:active {

            cursor: grabbing;

          }

        }

        .inner {

          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);

          transition: 120ms $trans-base;
          width: 16px;
          fill: $seco;

        }

        &.remove:hover .inner { fill: $warn; }
        &.drag:hover .inner { fill: $tert; }
        &.edit:hover .inner,
        &.save:hover .inner { 
          fill: $tert; 
        }

        &:active { 
          
          background-color: lighten($tert, 60%);
          // box-shadow: inset 0px 1px 2px rgba(0,0,0,.04);
        
        }

      }
    }

    .warning {

      position: absolute;
      bottom: 0; left: 0;
      width: 100%; height: 0;
      transition: 120ms $trans-base;
      overflow: hidden;
      box-sizing: border-box;
      background-color: darken($prim, 2%);
      cursor: initial;

      .inner {

        position: absolute;
        bottom: 0; left: 0;
        width: 100%; height: 32px;
        border-top: 1px solid darken($prim, 6%);

        .label {

          position: absolute;
          top: 50%; left: 24px;
          transform: translateY(-50%);

          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase;
          color: $seco;

        }

        .response {

          position: absolute;
          top: 50%; right: 24px;
          transform: translateY(-50%); 

          font-size: 12px;
          text-transform: uppercase;

          & > * {

            display: inline-block;
            margin-left: 16px;
            transition: 200ms $trans-base;
            cursor: pointer;

          }

          .agree { color: adjust-color($warn, $saturation: -30%); }
          .disagree { color: adjust-color($tert, $saturation: -30%); }
          
          .agree:hover { color: $warn; }
          .disagree:hover { color: $tert; }

        }

      }

    }

    &.active { 
      
      background-color: lighten($tert, 60%);
      box-shadow: 0 0 0 rgba(0,0,0,0);

    }

  }

}