

#v_products .view-body { 

  padding: 64px;
  
  .background-icon {

    // display: none;
    position: sticky;
    top: 50%; 
    width: 100%;
    height: 0;


    svg {

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      fill: rgba($tert, .03);
      width: calc(100% + 128px);

    }

  }

  .no-elements {
    
    font-weight: 300;
    font-size: 14px;

  }

  .all-products.creating {

    padding-bottom: 192px;

  }

  .all-products .product {
    
    position: relative;
    margin-top: 32px;
    width: 100%;
    height: 160px;
    cursor: pointer;

    // box-shadow: 0 2px 4px rgba(0,0,0,.03);
    transition: 120ms $trans-base;
    // background-color: $prim;
    // overflow: hidden;


    .container {

      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 160px;

      .background {

        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        
        transition: 250ms $trans-base;
        background-color: $prim;
        box-shadow: 0 2px 4px rgba(0,0,0,.03);

        &:after {
  
          content: 'NEW';
          display: block;
          opacity: 0;
  
          position: absolute;
          top: 10px; left: 8px;
          padding: 4px 12px;
          background-color: $prim;
  
          font-size: 12px;
          font-weight: 900;
  
          box-shadow: 0px 2px 3px rgba(0,0,0,.1);
          transition: 250ms $trans-base;
  
        }
      
      }

      &.new {

        .left-side {

          background-color: rgba($tert, 1);

        }
  
        .background {
  
          &:after {
  
            top: 8px;
            opacity: 1;
  
          }
  
        }
  
      }

    }

    .left-side {

      position: absolute;
      top: 0; left: 0;
      width: 160px;
      height: 100%;
      background-color: rgba($tert, .65);
      transition: 250ms $trans-base;

      svg {

        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);

        width: 96px;
        fill: rgba($prim, .5);

      }

      // .overlay {

      //   position: absolute;
      //   top: 0; left: 0;
      //   width: 100%;
      //   height: 100%;
      //   background-color: rgba($tert, .8);

      // }

      // .inner {

      //   position: absolute;
      //   top: 50%; left: 50%;
      //   transform: translate(-50%,-50%);
      //   width: 48px;
      //   height: 48px;
      //   background-color: $prim;

      //   line-height: 48px;
      //   text-align: center;
      //   font-size: 16px;
      //   font-weight: 900;
      //   color: $tert;

      // }

    }

    .right-side {

      position: absolute;
      top: 0; right: 0;
      width: calc(100% - 160px);
      height: 100%;
      padding: 24px 32px;
      text-align: left;

      .label {

        font-size: 16px;
        margin-bottom: 8px;
        width: 100%;
        height: 22px;
        overflow: hidden;
        white-space: nowrap;

      }

      .desc {

        font-size: 12px;
        font-weight: 300;

        width: 100%;
        height: 72px;
        overflow-y: hidden;

      }

      &.editing {

        input,
        textarea { 
          
          background-color: transparent;
          border: 0px solid rgba($tert, .5);
          outline: none;
          width: 100%;

          font-family: $font-stack;
          color: $tert; 
          resize: none;

          border-bottom: 1px solid rgba($seco, .1);
          padding: 4px 4px;

          &:hover {

            border-bottom-color: rgba($seco, .3);

          }

        }

        .label, 
        .desc {
          
          position: relative;

        }

        .label {

          margin-top: -2px;
          height: auto;
          overflow: initial;

          input {

            font-size: 16px;
            font-weight: 900;

          }

        }

        .desc {

          overflow-y: initial;

          textarea {

            height: 76px;

          }
          
          textarea:focus + label,
          label.active {

            top: -12px;

          }

        }

      }

    }

    .actions {

      position: absolute;
      top: 0; right: 0;
      width: 0; height: calc(100% + 4px);
      overflow: hidden;
      transition: 250ms $trans-base;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .action {

        position: absolute;
        left: 0;
        width: 48px; height: calc((100% - 4px) / 2 - 2px);

        box-shadow: 0px 2px 3px rgba(0,0,0,.2);
        border-top: 1px solid darken($prim, 4%);
        cursor: pointer;

        z-index: 2;

        &:nth-child(2) {
          
          border-top: none;

        }

        &.remove {
          
          bottom: 4px;
          background-color: rgba($warn, .75);

          &:hover { background-color: rgba($warn, .875); }
          &:active { background-color: rgba($warn, 1); }

        }

        &.edit, &.save {

          top: 0;
          background-color: rgba($tert, .75);

          &:hover { background-color: rgba($tert, .875); }
          &:active { background-color: rgba($tert, 1); }

        }

        &.drag {

          top: calc((100% / 3) * 2);
          cursor: grab;

          &:active {

            cursor: grabbing;

          }

        }

        .inner {

          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);

          transition: 120ms $trans-base;
          width: 16px;
          fill: $prim;

        }

      }
    }

    &:hover .actions,
    &.editing .actions {

      width: 48px;

    }

    &:hover .background,
    &.editing .background {

      width: calc(100% - 54px);

    }

    &:hover .background,
    &.editing .background { box-shadow: 0 3px 4px rgba(0,0,0,.07); }
    &:nth-child(1) { margin-top: 0; }
   
    &.active .background { 
      
      background-color: lighten($seco, 45%);
      box-shadow: 0 0 0 rgba(0,0,0,0);

    }

  }

}