

// Grid
.grid {

  position: relative;
  width: auto; height: auto;
  // border: 1px solid rgba($tert, .2);
  // border-bottom-width: 0;
  background-color: $prim;

  box-shadow: 0px 2px 3px rgba(0,0,0,.05);
  // transition: height 180ms $trans-base;

  &#process-steps {

    margin-top: 16px;

  }

  & > .loader {

    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba($prim, .95);
    z-index: 2;

    svg {

      position: absolute;
      top: calc(50% - 8px); 
      left: calc(50% - 8px);

      width: 16px;
      fill: $tert;
      animation: 1500ms infinite $trans-base loader;

    }

  }

  .grid-header {

    position: relative;
    width: 100%; height: 64px;
    // border-bottom: 1px solid rgba($tert, .2);
    
    text-align: left;
    padding-left: 32px;
    font-weight: 900;
    font-size: 14px;
    line-height: 64px;

    box-shadow: 0px 2px 3px rgba(0,0,0,.06);
    overflow-y: hidden;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .closed-icon {

      position: absolute;
      top: 50%; right: 22px;
      transform: translateY(-50%) rotate(180deg);
      
      opacity: 0;
      transition: opacity 180ms $trans-base;
      
      fill: $seco;
      width: 16px;

    }

    .add-new {

      position: absolute;
      top: 0; right: 0;
      width: 66px; height: 100%;
      border: 1px solid rgba($tert, .1);
      border-top-width: 0;
      border-bottom-width: 0;
      cursor: pointer;

      svg:not(.loader) {

        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);

        width: 20px;
        fill: $seco;

      }

      &:hover {
        
        background-color: rgba($tert, .5);
        svg { fill: $prim; }

      }

      &:active {

        background-color: rgba($tert, .8);
        svg { fill: $prim; }

      }

      .loader {

        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 8px);

        width: 16px;
        fill: $tert;
        animation: 1500ms infinite $trans-base loader;

      }

    }

    &:hover {

      box-shadow: 0px 3px 3px rgba(0,0,0,.06);

      .closed-icon {

        right: 20px;
        width: 20px;
        fill: $tert;

      }

    }

  }

  .grid-body {

    position: absolute;
    top: 64px; left: 0;
    width: 100%;
    overflow: hidden;

    // transition: 180ms $trans-base;

    .grid-body-inner {

      position: absolute;
      bottom: 0; left: 0;
      width: 100%;

    }

  }

  .grid-element {

    position: relative;
    width: 100%; height: 48px;
    border-bottom: 1px solid rgba($tert, .1);
    text-align: left;

    .fields {

      &.numbered { 
      
        padding-left: 66px; 
      
      }

      .number {

        position: absolute;
        top: 0; left: 0;
        width: 66px; height: 64px;
        border-right: 1px solid rgba($tert, .1);

        line-height: 48px;
        text-align: center;
        font-weight: 300;
        font-size: 12px;

      }
      
      .label {

        border-right: 1px solid rgba($tert, .1);
        padding-left: 32px;

      }

      .value {

        padding-left: 32px;

      }

      input {

        color: $tert;
        outline: none;
        font-family: $font-stack;
        font-weight: 300;
        font-size: 12px;

        width: calc(100% - 16px);
        margin-left: -4px;
        padding: 4px 4px;
        border: none;

        border-bottom: 1px solid rgba($seco, .1);
        &:hover { border-bottom: 1px solid rgba($seco, .3); }

      }

      .label,
      .value {
        
        display: inline-block;
        width: calc(100% / 2); height: 100%;
        font-weight: 300;
        line-height: 48px;
        font-size: 12px;

        white-space: nowrap;
        overflow: hidden;

      }

      &.single .label {

        width: calc(100%);
        border: 0px solid transparent;

      }

      &.single input {

        width: calc(100% - 16px);

      }

    }



    .action-buttons {

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .action-button {

        position: absolute;
        top: 0;
        width: 66px;
        height: 100%;
        border-left: 1px solid rgba($tert, .1);
        cursor: pointer;

        svg {

          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);
          fill: $seco;

        }

        &:hover {

          background-color: rgba($tert, .5);        
          svg { fill: $prim; }
        
        }

        &:active {
         
          background-color: rgba($tert, .8);
          svg { fill: $prim; }

        }

      }

      .remove {

        right: 0;
        svg { width: 16px; }
        &:hover { background-color: rgba($warn, .5); svg { fill: $prim; } }
        &:active { background-color: rgba($warn, .8); svg { fill: $prim; } }

      }

      .edit {
        
        right: 66px;
        svg { width: 16px; }

      }

      .save {

        right: 66px;
        svg { width: 16px; }

      }

    }


  }

  &.editable {

    .label,
    .value {
      
      width: calc((100% - 66px) / 2) !important;

    }

    .fields.single .label {
      
      width: calc(100% - 66px) !important;

    }

    .grid-header {

      .closed-icon {
        
        right: calc(66px + 22px);

      }

      &:hover .closed-icon {

        right: calc(66px + 20px);

      }

    }

  }

  &.closed {

    height: 64px !important;
    .grid-body { height: 0 !important; }
    .closed-icon { opacity: 1; }

  }

}
