

.sections {

  position: absolute;
  top: 0; right: 0;
  width: calc(100% - #{$sidebar-width});
  height: 100%;

  .section {

    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;

    &.active { display: block; }

    .section-inner {

      transition: 400ms $trans-base;
      
      display: flex;
      position: absolute;
      top: 0; left: 0;
      width: auto; height: 100%;

      &.notrans {

        transition-duration: 0ms;

      }

    }

  }

  .overlay {

    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    z-index: 10;
    transition: 400ms $trans-base;
    background-color: rgba($seco, .6);
    opacity: 0;

    pointer-events: none;

  }

}

#app-instance.mobile {

  .sections {

    width: 100%;

  }

  .sidebar.active + .sections {

    .overlay { opacity: 1; }

  }
  
}