

// Imports fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap);

// Fields
$font-stack: 'Poppins', sans-serif;
$prim: #FFFFFF;
$seco: #606060;
$tert: #1e9aa3;

$trans-base: cubic-bezier(.675,0,.325,1);
$sidebar-width: 96px;

// Normalization
body {

  margin: 0;
  font-weight: 900;

  background-color: $prim;
  color: $tert;
  font-family: $font-stack;

  position: absolute;
  width: 100vw; height: 100vh;
  overflow: hidden;

  * { box-sizing: border-box; }

  #app-instance {

    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    overflow: hidden;

  }

}

// Imports
@import './sidebar';
@import './section';
@import './view';

@import './views/products';